.c-detail {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  width: 100%;

  &__arrow {
    width: 28px;
    position: absolute;
    top: 2%;
    left: 4%;
  }
  &__img {
    width: 100vw;
    height: 275px;
    object-fit: cover;
    object-position: top;
  }

  &__box {
    width: 60%;
    height: 10%;
    background-color: red;
    position: absolute;
    top: 32%;
    left: 20%;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;

    &__img {
      margin-top: 4px;
      width: 20px;
      height: 20px;
    }

    &__left {
      margin: 10px;
      display: flex;
      gap: 8px;
    }

    &__middle {
      display: flex;
      flex-direction: column;
      color: rgb(44, 44, 44);

      &__p1 {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
      }

      &__p2 {
        margin: 0;
        font-weight: lighter;
        font-size: 12px;
      }
    }

    &__right {
      margin: 10px;

      &__img {
        margin: 2px;
      }
    }
  }
  &__tag {
    margin-top: 64px;
    display: flex;
    justify-content: space-around;
    margin: 16px;

    &__h4 {
      font-weight: lighter;
      color: rgb(44, 44, 44);
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__h4-active {
      color: var(--color-primary);
      border-bottom: 2px solid var(--color-secondary);
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 20px;
  margin-top: 20px;

  &__1 {
    color: var(--color-secondary);
    background-color: transparent;
    border-radius: 5px;
    padding: 7px;
    width: 100px;
    box-shadow: none;
    border: solid 1px var(--color-secondary);
  }
  &__2 {
    color: white;
    background-color: var(--color-secondary);
    border-radius: 5px;
    padding: 7px;
    width: 100px;
    box-shadow: none;
    border: solid 1px var(--color-secondary);
  }
}

.prueba {
  position: absolute;
  top: 120vh;
  left: 100px;
}
