.c-popdetalle{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 70%;
    border-radius: 12px;
    position: absolute;
    top: 10%;
    left: 10%;
  
    &__title{
        font-weight: 500;
        margin-top: 15%;
    }
    &__text{
        text-align: center;
        width: 90%;
        font-weight: 500;
        color: black;
    }
    &__img{
        width: 80%;
        object-fit: cover;
    }
    &__x{
        width: 10px;
        height: 10px;
        position: absolute;
        top: 4%;
        left: 6%;
    }
}