.c-auth {
  &__p {
    margin: 5% 8%;
    position: absolute;
    font-size: 22px;
    font-weight: 500;
    top: 26%;
  }

  &__btn {
    position: absolute;
    left: 16px;
    width: 92%;
    height: 7vh;
    bottom: 19%;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 99;
  }
}
