ul{
   list-style: none; 
}

.c-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;


}


.c-filter-container{
    display: inline-flex;
    flex-flow: row;
}


.x {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 28px;
    top: 18px;
    cursor: pointer;
    z-index: 99;
  }
  