.c-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.c-form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin-top: 32px;
  height: 100vh;
}

.c-form-section__mainTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: lighter;
  color: black;
  font-size: 16px;
}

.c-form-section__title {
  font-weight: 500;
  margin: 0 0 0 16px;
}

.c-form-section__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-form-section__block__label {
  color: black;
  font-weight: 400;
  width: 100%;
}

.c-form-section__block__label--mod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.c-form-section__block__label__p {
  margin-left: 8px;
  margin-bottom: 0px;
}

.c-form-section__option {
  font-size: 12px;
}

.c-form-section__input {
  width: 90%;
  margin: 14px;
  height: 20px;
  font-size: 12px;
  color: gray;
  border: none;
  border-bottom: 1px solid var(--color-primary-transparent);
}

.c-form-section__input:focus {
  outline: none;
}

.c-form-section__input__condiciones {
  margin: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-form-section__input--mod {
  accent-color: var(--color-primary);
}

.c-form-section__p {
  font-size: 12px;
  font-weight: lighter;
  color: black;
}

.c-form-section__boxBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-form-section__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  border-radius: 20px;
  margin: 16px;
  color: white;
  background-color: var(--color-secondary);
  border-radius: 5px;
  padding: 4px;
  width: 90%;
  height: 40px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 1px var(--color-secondary);
  font-size: 16px;
  margin-bottom: 30px;
  text-decoration: none;
}

.c-form-section__btn--mod {
  padding: 25px;
}

.c-form-section__arrow {
  width: 32px;
}

.c-form-section__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 72%;
}

.c-form .c-radius-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10%;
}

.c-form .c-radius-right__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-form .c-radius-right__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px;
}

.container {
  margin: 0px;
  width: 90%;
  text-align: center;
}

.progress2 {
  padding: 2px;
  border-radius: 30px;
  background: var(--color-secondary-transparent);
}

.progress-bar2 {
  height: 8px;
  border-radius: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.05)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
  width: 33%;
  background-color: #f8897f;
  -webkit-animation: progressAnimation 6s;
          animation: progressAnimation 6s;
}

.progress-moved .progress-bar2--2 {
  width: 66%;
}

.progress-moved .progress-bar2--3 {
  width: 99%;
}
/*# sourceMappingURL=FormPage.css.map */