.c-enviado {
  width: 70%;
  padding: 30px;
  height: 70vh;
  margin-left: 8%;
  margin-top: 14%;
  border-radius: 10px;
  background-color: white;

  &__title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 28px;
  }
  &__texto {
    color: black;
    text-align: center;
    margin-bottom: 10%;
    font-weight: normal;
    font-size: 18px;
  }
  &__img {
    width: 70%;
    margin-left: 15%;
  }
  &__x {
    width: 10px;
    height: 10px;
    position: relative;
    right: 8px;
    top: -15px;
    z-index: 99;
  }
}
