.c-landing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  &__logo {
    margin: 0 auto;
    width: 50%;
  }
  &__title {
    margin-top: 8vh;
    width: 50%;
  }
}
