:root {
  --color-primary: #01748e;
  --color-secondary: #fa9c93;
  --color-secondary-transparent: #ffdad7;
  --color-terciary: #0e363d;
  --color-quaternary: #71b1bf;
  --color-primary-transparent: #01748e67;
  --color-terciary-transparent: #0e363d36;
  --color-primary-shadow: rgb(189, 210, 214);
}
